<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item active">
                <img src="https://scontent.fvcp7-1.fna.fbcdn.net/v/t1.0-9/39062217_10204717169484424_2976495903306678272_n.jpg?_nc_cat=106&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeHXYiM6dU8EACMfjGx6547uxanO8zYUvevFqc7zNhS96-cs7cIxMC28X2UHJUMCHEQ&_nc_ohc=v6KgTMN8Hs4AX_yzV6R&_nc_ht=scontent.fvcp7-1.fna&oh=22ddf885a0137153179600ffdd246063&oe=602C46FB"
                    alt="Imagem do User " width="50px" height="50px" class="img-fluid rounded-circle">
            </li>
            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white fs-16">Nome do Usuário</p>
            </li>
            <li class="nav-item pl-3">
                <a href="">
                    <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></p>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item pl-3">
                <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav>