 <!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="p-5">
        <h1 class="display-4">Inclusão de pessoas com deficiencia</h1>
        <p class="lead">Desde o dia 03 de novembro de 2010, que o termo “Pessoa portadora de Deficiência” foi
            substituído, segundo o que confirmava a tendência mundial, por “Pessoa com Deficiência”. (Portaria da
            Presidência da República – Secretaria de Direitos Humanos, Nº 2.344, de 3 de novembro de 2010).</p>
        <p class="lead">
            O termo PNE foi alterado porque a deficiência não se porta, não é um objeto, a pessoa tem uma
            deficiência, faz parte dela. O termo recomendado hoje é a sigla PcD, que significa “pessoa com
            deficiência” ou “pessoas com deficiência”. Não há necessidade de se colocar “s” quando usamos o plural,
            e o “c” é sempre minúsculo. Este termo é o mesmo que está sendo usado atualmente em âmbito mundial. Em
            espanhol: PcD – persona con discapacidad, em inglês: PwD – person with a disability, persons with
            disabilities, people with disabilities.</p>
    </div>
</div>
<!--/Jumbotron-->