<!--Card Videos-->
<div class="card-group container" id="videos">
    <div class="card">
        <iframe width="560" height="315" class="card-img-top p-3" src="https://www.youtube.com/embed/f1bxHXPVXn4"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <div class="card-body">
            <h5 class="card-title">Vai uma mãozinha ai? (Mariana Torquato)</h5>
            <p class="card-text">21 de setembro é o dia nacional de luta das pessoas com deficiência e eu fiz esse
                vídeo muito especial com coisas que todas as pessoas com deficiência estão cansadas de ouvir!</p>
        </div>
    </div>
    <div class="card">
        <iframe width="560" height="315" class="card-img-top p-3" src="https://www.youtube.com/embed/6XOwjulCeNw"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <div class="card-body">
            <h5 class="card-title">Vai uma mãozinha ai? (Mariana Torquato)</h5>
            <p class="card-text"> Expor
                o capacitismo é lutar por inclusão, porque o preconceito contra pessoas com deficiencia precisa ser
                combatido, e preconceito se combate com inclusão.</p>
        </div>
    </div>
</div>
<!--/Card Videos-->